<table style="border-collapse: collapse; width: 516px; height: 599px; border-color: rgb(193, 49, 60); margin-left: auto; margin-right: auto;">
    <tbody style="border-radius: 15px !important; background: #f5f5f5;">
      <tr style="height: 61.6094px; border-radius: 15px !important;">
        <td style="width: 501.219px; height: 61.6094px; background: none 0% 0% repeat scroll rgb(193, 49, 60); border-top-left-radius: 15px; border-top-right-radius: 15px;">
          <img style="display: block; margin-left: auto; margin-right: auto;" src="http://imgfz.com/i/RTrhKtY.png" alt="" width="225" height="44">
        </td>
      </tr>
      <tr style="height: 223.984px;">
        <td style="width: 501.219px; height: 223.984px; text-align: center;">
          <div>
            <strong>
              <span style="font-size: 24pt; color: #01313c;">¡ Hola {{ name }} Te damos la bienvenida a la escuela de traders mas grande ! <br>
              </span>
            </strong>
          </div>
          <blockquote>
            <h3 style="text-align: left;">
              <span style="font-size: 112%;">
                <em>
                  <strong>
                    <strong>
                      <span style="color: rgb(1, 49, 60);">Ya puedes ingresar usando tu correo y la contraseña {{ password }}</span>
                    </strong>
                  </strong>
                </em>
              </span>
            </h3>
          </blockquote>
        </td>
      </tr>
      <tr style="height: 163.891px;">
        <td style="width: 501.219px; height: 163.891px; text-align: center; background: none 0% 0% repeat scroll rgb(193, 49, 60); border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
          <span style="color: #01313c;">
            <strong>
              <span style="font-size: 14pt;">
                <span style="color: #ffffff;">
                  <br>Síguenos en nuestras redes: </span>
                <br>
                <a style="padding: 5px;" title="facebook" href="https://www.facebook.com/International-Capital-Exchange-101513835666077/?ref=pages_you_manage" target="_blank" rel="noopener">
                  <img src="http://imgfz.com/i/H5ZqsfD.png" alt="Ir a Facebook" width="25" height="25">
                </a>
                <a style="padding: 5px;" title="Instagram" href="https://instagram.com/invierte_icex?r=nametag" target="_blank" rel="noopener">
                  <img src="http://imgfz.com/i/BJrGtwe.png" alt="Ir a Instagram" width="25" height="25">
                </a>
                <a style="padding: 5px;" title="Youtube" href="https://www.youtube.com/channel/UC8hsKsNMTTkR3LLcwoIL4og" target="_blank" rel="noopener">
                  <img src="http://imgfz.com/i/rAQZMIz.png" alt="Ir a Youtube" width="25" height="25">
                </a>
              </span>
            </strong>
          </span>
          <br>
          <span style="color: #ffffff;">
            <strong>
              <span style="font-size: 14pt;">
                <span style="white-space: pre-wrap;">
                  <strong>Visita nuestra página web: <br>
                    <span style="color: #ffffff;">
                      <a style="color: #ffffff;" href="https://intcapex.com/">w w w. i n t c a p e x. c o m</a>
                    </span>
                    <br>
                    <br>
                  </strong>
                </span>
              </span>
            </strong>
          </span>
        </td>
      </tr>
    </tbody>
  </table>